* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
/* color patern 46237a 6F41C2 9B76E3 */
/* Navbar */
.navbar {
    display: flex;
    gap: 18rem;
    background-color: #46237A;
    height: 15vh;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.navbar .logo a img {
    position: relative;
    bottom: 1.4rem;
    left: 2rem;
    height: 24vh;
}

.display {
    display: none;
}
.block {
    display: flex;
}

.navbar .nav-individuals {
    /* border: 1px solid; */
    position: relative;
    bottom: 1.5rem;
    right: 6rem;
}

.navbar .nav-individuals ul {
    display: flex;
    gap: 2rem;
}

.navbar .nav-individuals ul li {
    margin-top: 2.5rem;
    font-family: inter;
    font-weight: 600;
}

.navbar .nav-individuals ul li a {
    text-decoration: none;
    color: #0156a2;
}

.navbar .nav-individuals ul li a:hover {
    color: #f80875;
}

.navbar ul li .btn {
    position: relative;
    left: 5rem;
    bottom: 0.7rem;
    padding: 0.7rem 2rem;
    background-color: #0156a2;
    border: none;
    border-radius: 0.2rem;
}

.navbar ul li .btn:hover {
    background-color: #f80875;
    box-shadow: 0 1px #f80875;
}

.navbar ul li .btn a {
    color: white;
}

.navbar ul li .btn a:hover {
    color: white;
}
/* Mobile */
@media (max-width: 600px) {
    .navbar {
        /* border: 1px solid; */
        height: 13.3vh;
        z-index: 1;
    }

    .navbar .logo a img {
        left: 0rem;
        bottom: 1.3rem;
        height: 22vh;
    }

    .display {
        display: block;
    }

    .block {
        display: none;
    }

    .position {
        position: relative;
        bottom: 23.7rem;
        left: 16.5rem;
    }

    .navbar .nav-individuals {
        display: none;
    }

    /* HERO-SEC */
    .hero-sec {
        /* border: 1px solid; */
        width: 100%;
        display: block;
        height: 100vh;
        top: 3.5rem;
    }

    .hero-sec .text {
        /* border: 1px solid; */
        left: 1rem;
        top: 4rem;
    }

    .hero-sec .text h1 {
        font-size: 2rem;
        position: relative;
        bottom: 2rem;
    }

    .hero-sec .text .para-one {
        font-size: 1.4rem;
        bottom: 2rem;
    }

    .hero-sec .text .para-two {
        font-size: 0.7rem;
        bottom: 2.5rem;
    }

    .hero-sec .text button {
        padding: 0.5rem 0.8rem;
        font-size: 0.8rem;
        bottom: 3rem;
    }

    .hero-sec .img .img-one {
        display: none;
    }

    .hero-sec .img .img-two {
        display: block;
        /* border: 1px solid; */
        position: relative;
        top: 4.1rem;
        left: 3.5rem;
    }

    .info {
        top: 3rem;
        display: block;
    }

    .info .hospitality {
        height: 60vh;
        width: 100%;
    }

    .info .hospitality {
        height: 60vh;
        width: 100%;
        padding: 2rem 1rem;
    }

    .info .emer-care {
        height: 60vh;
        width: 100%;
    }

    .info .cham-service {
        /* border: 1px solid black; */
        padding: 2rem 1rem;
        height: 60vh;
        width: 100%;
    }

    /* WELCOME-SEC */
    .welcome-sec {
        position: relative;
        top: 4rem;
        display: block;
    }

    .welcome-sec .img {
        display: flex;
        padding: 0;
        width: 100%;
    }

    .welcome-sec .img .img-one {
        width: fit-content;
        position: relative;
        left: 2rem;
    }

    .welcome-sec .img .img-two {
        width: fit-content;
    }

    .welcome-sec .text {
        padding: 1rem;
        position: relative;
        top: 4rem;

    }

    .welcome-sec .text h3 {
        width: fit-content;
    }

    .welcome-sec .text .para-one {
        width: 50vh;
    }

    .welcome-sec .text .para-two {
        width: 50vh;
    }

    .welcome-sec .text ul li {
        font-size: 0.6rem;
    }
}

/* Tablet */
@media (min-width: 601px) and (max-width: 1024px) {
    .navbar {
        height: 13.3vh;
        z-index: 1;
    }

    .navbar .logo a img {
        left: 0rem;
        bottom: 2rem;
        height: 22vh;
    }

    .display {
        display: block;
    }

    .block {
        display: none;
    }

    .position {
        position: relative;
        bottom: 2rem;
        /* left: -6rem; */
        right: 6rem;
        font-size: 3rem;
    }

    .navbar .nav-individuals {
        display: none;
    }

    /* HERO-SEC */

    .hero-sec {
        display: block;
    }


    .hero-sec .text h1 {
        font-size: 4rem;
    }

    .hero-sec .text .para-one {
        font-size: 3rem;
    }

    .hero-sec .text .para-two {
        font-size: 1.5rem;
    }

    .hero-sec .img {
        display: block;
        bottom: 2.5rem;
        left: 10rem;
        width: 75%;
    }

/* Mobile */
@media (max-width: 600px) {
    .navbar {
        /* border: 1px solid; */
        height: 13.3vh;
        z-index: 1;
    }

    .navbar .logo a img {
        left: 0rem;
        bottom: 1.3rem;
        height: 22vh;
    }

    .display {
        display: block;
    }

    .block {
        display: none;
    }

    .position {
        position: relative;
        bottom: 23.7rem;
        left: 16.5rem;
    }

    .navbar .nav-individuals {
        display: none;
    }

    /* HERO-SEC */
    .hero-sec {
        /* border: 1px solid; */
        width: 100%;
        display: block;
        height: 100vh;
        top: 3.5rem;
    }

    .hero-sec .text {
        /* border: 1px solid; */
        left: 1rem;
        top: 4rem;
    }

    .hero-sec .text h1 {
        font-size: 2rem;
        position: relative;
        bottom: 2rem;
    }

    .hero-sec .text .para-one {
        font-size: 1.4rem;
        bottom: 2rem;
    }

    .hero-sec .text .para-two {
        font-size: 0.7rem;
        bottom: 2.5rem;
    }

    .hero-sec .text button {
        padding: 0.5rem 0.8rem;
        font-size: 0.8rem;
        bottom: 3rem;
    }

    .hero-sec .img .img-one {
        display: none;
    }

    .hero-sec .img .img-two {
        display: block;
        /* border: 1px solid; */
        position: relative;
        top: 4.1rem;
        left: 3.5rem;
    }

    .info {
        top: 3rem;
        display: block;
    }

    .info .hospitality {
        height: 60vh;
        width: 100%;
    }

    .info .hospitality {
        height: 60vh;
        width: 100%;
        padding: 2rem 1rem;
    }

    .info .emer-care {
        height: 60vh;
        width: 100%;
    }

    .info .cham-service {
        /* border: 1px solid black; */
        padding: 2rem 1rem;
        height: 60vh;
        width: 100%;
    }

    /* WELCOME-SEC */
    .welcome-sec {
        position: relative;
        top: 4rem;
        display: block;
    }

    .welcome-sec .img {
        display: flex;
        padding: 0;
        width: 100%;
    }

    .welcome-sec .img .img-one {
        width: fit-content;
        position: relative;
        left: 2rem;
    }

    .welcome-sec .img .img-two {
        width: fit-content;
    }

    .welcome-sec .text {
        padding: 1rem;
        position: relative;
        top: 4rem;

    }

    .welcome-sec .text h3 {
        width: fit-content;
    }

    .welcome-sec .text .para-one {
        width: 50vh;
    }

    .welcome-sec .text .para-two {
        width: 50vh;
    }

    .welcome-sec .text ul li {
        font-size: 0.6rem;
    }
}

/* Tablet */
@media (min-width: 601px) and (max-width: 1024px) {
    .navbar {
        height: 13.3vh;
        z-index: 1;
    }

    .navbar .logo a img {
        left: 0rem;
        bottom: 2rem;
        height: 22vh;
    }

    .display {
        display: block;
    }

    .block {
        display: none;
    }

    .position {
        position: relative;
        bottom: 2rem;
        /* left: -6rem; */
        right: 6rem;
        font-size: 3rem;
    }

    .navbar .nav-individuals {
        display: none;
    }

    /* HERO-SEC */

    .hero-sec {
        display: block;
    }


    .hero-sec .text h1 {
        font-size: 4rem;
    }

    .hero-sec .text .para-one {
        font-size: 3rem;
    }

    .hero-sec .text .para-two {
        font-size: 1.5rem;
    }

    .hero-sec .img {
        display: block;
        bottom: 2.5rem;
        left: 10rem;
        width: 75%;
    }

    /* .info {
        border: 1px solid black;
    } */
}

/* Desktop
@media (min-width: 1025px) {
    
} */
}

/* Desktop
@media (min-width: 1025px) {
    
} */
