
*{
    padding: 0%;
    margin: auto;
    box-sizing: border-box;
}
nav{
    display: flex;
    background-color: #46237A;
    height: 80px;
}
.h1-main-heading{
    margin-left: 80px;
    color: #9B76E3;
    text-decoration: overline;
    font-size: 40px;
    font-style: italic;
}
.ul-nav{
    display: flex;
    text-decoration: none;
    list-style: none;
}
.a-nav{
    margin: 10px;
    font-size: 25px;
    padding:10px;
    text-decoration: none;
    color: white;
}
.a-nav:hover{
    margin: 10px;
    font-size: 25px;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #6F41C2;
    transition: all 0.5s ease-in-out;
    border-radius: 25px;
}
.parents-heros-child{
    text-align: center;
    align-items: center;
}
.text-main{
    margin-left: 100px;
    margin-top: 80px;
    font-size: 80px;
        font-family: 'Poppins', 'Segoe UI', 'Arial', sans-serif;
    font-weight: 600; /* 400-normal, 700-bold, 600 semi-bold */
}
